html{

    background-image: url("/static/imagens/body-bg2.jpg");
    transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out;
}


body {

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li {
    list-style-type: none;
}

form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    margin: 100px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: left;
    transition: width 0.3s ease-in-out;
}


label{
    font-size: 18px;
  margin-bottom: 5px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

#capa {
    margin-bottom: 15px;
}

.status {
    background: none;
    margin: 0 0 10px 0;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    width: 95%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
}

input[type="text"]:hover {
    transform: scale(1.05);
}

input[type="text"]:valid{
    background-color: #c8e6c9;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="checkbox"]:hover {
    transform: scale(1.05);
}

input[type="checkbox"]:focus{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

input[type="submit"] {
    background-color: #6c2dfd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #0300b8;
    transition: background-color 0.3s ease-in-out
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

img{
    margin-top: 10px;
    width: 40px; /* ajuste de acordo com o tamanho da imagem */
    height: 40px; /* ajuste de acordo com o tamanho da imagem */
    transition: transform 0.3s ease-in-out;
    }

a:hover img{
    transform: scale(1.1);
}

.sucesso {
    background: rgba(0, 199, 0, 0.681);
    border: 2px solid rgb(0, 136, 0);
    padding: 5px;
    border-radius: 6px;
}

.falha {
    background: rgba(199, 0, 0, 0.681);
    border: 2px solid rgb(136, 0, 0);
    padding: 5px;
    border-radius: 6px;
}

.alerta {
    background: rgba(255, 136, 0, 0.681);
    border: 2px solid rgb(255, 136, 0);
    padding: 5px;
    border-radius: 6px;
}

#confirmarCapa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
width: 280px;
border-radius: 10px;
margin: 20px 40px;
background-color: #05044b;
overflow: hidden;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card .content{
    padding: 10px;
}

.card .info{
    border-top: 2px solid #35047e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card .info a{
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #00aeff;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
}


.card .info a:hover{
    background: #00aeff;
    border: none;
    color: #171733;
    box-shadow: 0 0 10px #00aeff;
    transition: background-color 0.3s ease-in-out
}

.card.hide{
    display: none;


}